body {
text-align: center;
}

h1{
	font-family: RALEWAY;
	color:#0D2C40;
	letter-spacing:1px;
	font-weight:400;
	font-size: 45px;
}
a{
	font-family: RALEWAY;
	color:#f15b31;
	letter-spacing:1px;
	font-weight:600;
	font-size: 18px;
	text-decoration:none;
}
h2{
	font-family: RALEWAY;
	color:#0D2C40;
	letter-spacing:1px;
	font-weight:600;
	font-size: 20px;
}
p{
	font-family: "DROID SERIF";
	line-height: 26px
	font-size: 18px;
}
h3{
	font-family: RALEWAY;
	color:#0D2C40;
	letter-spacing:1px;
	font-weight:600;
	font-size: 20px;
}
h4{
	font-family: RALEWAY;
	color:#f15b31;
	letter-spacing:1px;
	font-weight:600;
	font-size: 18px;
	text-decoration:none;
}
li{
	color: green;
	display: inline;
}